@page
@model DrivingSchoolApp.Pages.Lessons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Student.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Instructor.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Vehicle.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lesson.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
